<!doctype html>
<html>
  <title>Where Matt has run</title>
   <body bgcolor="#D3D3D3">
   	<h1>Where Matt has run:</h1>
   	<h2>U.S. States and Territories - {{ state_count }} out of 56 total ({{ ((state_count/56)*100)|round(1) }}%)</h2>
   	<ul>{% for place in places|unique(attribute="state_short")|sort(attribute="state_long") %}
      {% if place.country_short == "US"%}
      <li><a href="/state/{{place.state_short}}">{{ place.state_long }}</a></li>{% endif %}{% endfor %}

	</ul>

	<h2>Countries - {{ country_count }} total</h2>
	<ul>{% for place in places|unique(attribute="country_short")|sort(attribute="country_long") %}
      <li><a href="/country/{{place.country_short}}">{{ place.country_long }}</a></li>{% endfor %}
	</ul>

  <h2>Yearly data</h2>
  <ul>{% for year in years|unique %}
      <li><a href="/year/{{year}}">{{ year }}</a></li>{% endfor %}
  </ul>

  <h2>Patch Collection</h2>
  {% for place in places|unique(attribute="country_short")|sort(attribute="country_long") %}
    <img src="https://s3.amazonaws.com/strava-geobadges/images/country-flags/{{place.country_short|lower}}.png" height=75 title="Flag of {{place.country_long}}">
  {% endfor %}
  {% for place in places|unique(attribute="state_short")|sort(attribute="state_long") %}
      {% if place.country_short == "US"%}
      <img src="https://s3.amazonaws.com/strava-geobadges/images/state-flags/{{place.state_short|lower}}.png" height=75 title="Flag of {{place.state_long}}">{% endif %}{% endfor %}
  <h2>About</h2>
  <p>I created this page in order to motivate myself to keep running while I travel. I created it using the Strava API, the Google Maps API, Flask, Heroku, and PostgreSQL. <a href="https://github.com/mrichardson23/strava-geobadges">The source is available on Github.</a></p>
   </body>
</html>