<!doctype html>
<html>
   <body>
    <h1>Setup</h1>
    <h2>Messages:</h2>
    <ul>
      {% for message in messages %}
      <li>{{message}}</li>
      {% endfor %}
    </ul>
   	<form action="/setup" method="post">
      <input type="checkbox" name="action" value="strava"> Download Strava Activities<br>
      <input type="checkbox" name="action" value="geocode"> Reverse Geocode Activities<br>
      <input type="checkbox" name="action" value="view_activity"> View activity by ID: <input type="text" name="strava_id" value=""><br>
      Password:
      <input type="password" name="psw">
      <input type="submit" value="Update">
    </form>
   </body>
</html>